body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #87CEFA;
    color: #6e6e6e;
    padding: 20px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text {
    width: 50%;
    padding-right: 20px;
}

.image img {
    width: 600px;
    height: 600px;
}

footer {
    background-color: #0a3c26;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.6em;
}